<div class="d-flex navtop justify-content-between" width="100%" style="background-color:  #f7f7f7">
  <!-- <button class="back ml-2" routerLink="/dashboard">Back</button> -->
  <button class="back ml-2" *ngIf="showUserDetails" (click)="backtoCourseDetail()">Back</button>
  <button class="back ml-2" *ngIf="!showUserDetails" [routerLink]="['/dashboard']" routerLinkActive="router-link-active">Back</button>
  <div class="d-flex">
  <button class="btn logout mr-2"><i class="fa fa-ban"></i><span class="ml-2">Logout</span></button>
  </div>
</div>

<div *ngIf="!showUserDetails">
<div width="100%" class="d-flex mt-1 justify-content-center">
  <div class="d-flex row datepic m-1" style="justify-content: space-between">
      <div class="col-md-3">
          <form class="selectDate">
                <div class="form-group input-width">
                  <div class="input-group ">
                    <input class="form-control" placeholder="Start Date" 
                           name="d2" [(ngModel)]="startDate" ngbDatepicker #d2="ngbDatepicker" (dateSelect)="onDateSelect($event,'start')" >
                    <div class="input-group-append" style="background-color:#7f8c8d">
                      <button class="btn btn-outline-secondary calendar justify-content-center" (click)="d2.toggle()" type="button"><i class="fa fa-calendar ml-1" style="font-size: 20px;color:white"></i></button>
                    </div>
                  </div>
                </div>
              </form>  
              <p class="error-alert" hidden>Start date is required</p>
            </div> 
  
          <div class="col-md-3">
            <form class="selectDate">
                  <div class="form-group input-width">
                    <div class="input-group ">
                      <input class="form-control" placeholder="End Date" 
                             name="d3"[(ngModel)]="endDate" ngbDatepicker #d3="ngbDatepicker" (dateSelect)="onDateSelect($event,'end')">
                      <div class="input-group-append" style="background-color:#7f8c8d">
                        <button class="btn btn-outline-secondary calendar justify-content-center" (click)="d3.toggle()" type="button"><i class="fa fa-calendar ml-1" style="font-size: 20px;color:white"></i></button>
                      </div>
                    </div>
                  </div>
                </form>  
              </div> 
                
              <div class="col-md-3">
                  <form class="selectDate">
                      <div class="form-group">
                        <div class="input-group ">
                  <select class="form-control" name="shape_id" (change)="selectCourse($event)">
                      <option value="" disabled [selected]='courseid==undefined'> Choose Course</option>
                      <option *ngFor="let act of courseName" [value]="act.courseId" [selected]='act.courseId==courseid'>
                        {{act.courseTitle}}
                      </option>
                    </select>
                  </div>
                </div>
              </form>     
                    </div>
  
                    <div class="col-md-3">
                        <form class="selectDate">
                            <div class="form-group">
                              <div class="input-group ">
                        <select class="form-control" name="shape_id" (change)="selectVersion($event)">
                            <option value="" disabled [selected]="versionName == undefined"> Choose version</option>
                            <option *ngFor="let version of courseVersion" [value]="version.version" [selected]="version.version == versionName">
                              {{version.version}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </form>     
                      </div>
        </div>
  </div>
  

<div class="row d-flex justify-content-center mt-5" width="100%">
  <div class="course">
  <div class="launch-btn card-header">
      <h4 style="color:white;font-size: 20px">Course Detail</h4>
  </div> 
    <div *ngFor="let detail of courseDetail" style="margin-left: 20px">
    <p>
       Course Title: {{detail.courseTitle}}
    </p>
    <p>
        Created Date: {{detail.createDate|date : "yyyy/MM/dd"}}
     </p>
     <p>
        Registrations: {{detail.registerationcount}}
     </p>
     <p>
        Version: {{detail.version}}
     </p>
  </div>
  </div>
  </div>
  
  <div class="row d-flex justify-content-center mt-5" width="100%">
  <div class="heatmap">
    <div class="card-header heatmap-bg">
      <h4 style="color:white;font-size: 20px">Course Heatmap</h4>
    </div>
    <div class="col-md-8 d-flex justify-content-center heatmapquery">
      <div id="chart" class="svg-container" style="width: 100%">
        <svg id="heatmap-svg" viewBox="-15 -20 680 580" class="heatmapbox" preserveAspectRatio="xMidYMid meet">
          <g id="svg-g" transform="translate(50,30)"></g>
        </svg>
      </div>
   
    </div>
    
    <!-- <div class="connection-lost" *ngIf="!bookHeatMapLoading && isOffline">
      <img src="/reporting/assets/img/sad-face-cloud.png" alt="Sad Face Cloud Icon">
      <h5 class="small-msg">Connection Lost</h5>
      <p class="tap-retry" (click)="callBookHeatMap()"><i class="fa fa-refresh" aria-hidden="true"></i> Click to retry</p>
    </div> -->
    </div>
  </div>

 
  <div class="row d-flex justify-content-center mt-5" width="100%">
      <div class="registration">
        <div class="card-header registration-bg">
          <h4 style="color:white;font-size: 20px">Registrations for this course</h4>
          </div>
      <div class="d-flex justify-content-end mt-1 mb-1">
          <!-- <label class="text mr-3">Search Registrations by LearnerID </label>  -->
          <div class="d-flex">
            <input id="" width="206px" height="26px" class="search-form" style="font-size: 16px;" (input)="getList(skip,limit,$event.target.value)" type="text" placeholder="Search..."  [(ngModel)]="searchCourse"/>
            <i id="filtersubmit" class="fa fa-search"></i>
            </div>
      </div> 
      
      
      <table class="layout display">
        <thead>
        <tr>
        <th>Learner ID</th>
        <th>Learner Name</th>
        <th>Completion</th>
        <th>Score</th>
        <th>Total time</th>
        </tr>
        </thead>
        <tbody> 
        <tr *ngFor="let learner of totalLearner" class="search-results">
       
        <td><a  (click)="test(learner.learnerId)">{{learner.learnerId}}</a></td>
        <td>{{learner.learnerName}}</td>
        <td>{{learner.completion}}</td>
        <td>{{learner.score}}</td>
        <td>{{learner.total_time}}</td>
        </tr>   
        </tbody>
        </table>
        <div class="d-flex justify-content-between btn-hover">
          <button (click)="loadMorePrevious()" *ngIf="count>1" style="border: none;">&laquo;Previous</button>
         <!-- <button (click)="loadMoreNext()" style="border: none">Next&raquo;</button> -->
        </div>
    </div>        
</div> 
</div>

<div *ngIf="showUserDetails">
  <app-userdetail></app-userdetail>
</div>