.datepic{
    width:1100px;
}

@media(max-width:600px){
    .selectDate{
        width:100%;
    }
}
.form-control {
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    
    .launch{
    width: 110px;
    height: 37.67796610169491px;
    border-radius: 21.5px;
    border: 1px solid #49a48a;
    background-color: #49a48a;
    color: white;
    }
    .container{
    width: 100%;
    justify-content: center;
    }
    .courseDetail{
    width: 833px;
    height: 57.92951541850221px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: condensed;
    line-height:30px;
    letter-spacing: normal;
    color: #000000;
    }
    .course{
    border: solid 1px #979797;
    width: 1070px; 
    height:250px;
    }
    .launch-btn{
    background-color: #7f8c8d;
    width: 1069px;
    height: 57px;
    }
    .courseheatmap{
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    line-height: normal;
    letter-spacing: normal;
    color: white;
    text-align: center;
    }
    .heatmap-bg{
    background-color: #7f8c8d;
    width: 1069px;
    height: 57px;
    }
    .heatmap{
    border: solid 1px #979797;
    width: 1070px; 
    height:auto;
    }
    .registration-bg{
      background-color: #7f8c8d;
      width: 1069px;
      height: 57px;
      }
      .registration{
        border: solid 1px #979797;
        width: 1070px; 
        height:auto;
        }
    @media(max-width:768px){
    .course{
    width: 650px;
    }
    .launch-btn{
    width: 650px;
    }
    .heatmap-bg{
    width: 650px;
    
    }
    .heatmap{
    width: 650px; 
    }
    .registration-bg{
      width: 650px;
      
      }
      .registration{
      width: 650px; 
      }
      
    }
    @media(max-width:600px){
    .course{
    width:500px;
    }
    .launch-btn{
    width: 500px;
    }
    .heatmap{
    width: 500px;
    }
    .heatmap-bg{
    width: 500px;
    }
    .registration{
      width: 500px;
      }
      .registration-bg{
      width: 500px;
      }
    }
    
    .buttonLaunch{
    background-color: #49a48a;
    border: none;
    color: white; 
    font-size: 17px;
    cursor: pointer;
    border-radius: 30px;
    margin: 7px; 
    }
    .text{
    
      font-family: Roboto;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: condensed;
      line-height:30px;
      letter-spacing: normal;
      color: #000000;
      margin-left:5px; 
      margin-top: 10px; 
    } 
    .title{
    
      font-family: Roboto;
      font-size: 16px;
      font-weight: normal;
      font-style: normal;
      font-stretch: condensed;
      line-height:30px;
      letter-spacing: normal;
      color: #000000;
      padding-left: 5px;
      padding-top: 10px; 
    } 
    .fa-search{
    margin: -20px;
    margin-top: 15px;
    }
    .buttonClear{
    margin:40px;
    margin-top: 5px;
    height: 40px;
    width:100px;
    } 
    
    table th,
    table td{
    text-align: center;
    }
    table.layout{
    width: 100%;
    border-collapse: collapse;
    }
    
    table.display th,
    table.display td{
    /* border-bottom: 1px solid black; */
    margin-left: 5px;
    padding-top: 2px;
    padding-bottom: 10px;
    }
    
    table.display th{ background: #D5E0CC; }
    
    .search{
    width:200px;
    height: 40px;
    margin-top: 5px;
    }
    .logout {
      width: 100px;
      height: 30px;
      /* opacity: 0.4407649253731343; */
      border: solid 1px #7f8c8d;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: white;
    border-radius: 100px;
    background-color:  #7f8c8d;
    margin-top: 6.5px;
    }
    .back{
      width: 100px;
      height: 30px;
      border-radius:100px;
      background-color:  #7f8c8d;
      color: white;
      margin-top: 6.5px;
      font-size: 13px;
    }
    .navtop{
      width: 100%;
      height: 50px;
    }
    .sidebar{
      width: 250px;
      }
      .list-group-item {
        position: relative;
        display: block;
        padding: 10px 15px;
        margin-bottom: -1px;
        background-color: #fff;
        border: 1px solid #ddd;
      }
      .home-hover:hover{
        background-color:#4586fa;
      }  
    .course-hover:hover{
        background-color: #7f8c8d;;
    } 
    .error-alert {
      position: absolute;
      color: #d70606;
      font-weight: 700;
  }

  .search-results {
    height: 100%;
  }

  /* #my_dataviz1.tooltip{
      left: 650px;
      right: 550px;
  }

  @media(min-width:900px){
    #my_dataviz1.tooltip{
      left: 650px;
      right: 550px;
  }
  }
  @media(min-width:768px){
    #my_dataviz1.tooltip{
      left: 650px;
      top: 550px;
  }
  } */
  /* @media(max-width:768px){
    #my_dataviz1.tooltip{
      left: -8px;
      top: 118px;
  } */
  /* }
  @media(max-width:600px){
    #my_dataviz1.tooltip{
      left: 50px;
      right: 50px;
  }
  } */
  #filtersubmit {
    position: relative;
    z-index: 1;
    right: 6px;
    top: -5px;
    color: #7B7B7B;
    /* cursor:pointer; */
    cursor: auto;
    width: 20px;
    height: 20px;
    /* border: solid 2px #979797; */
     background-color: #ffffff;
     margin-right: 10px;
    
}
.search-form {
  width: 250px;
  height: 38.27006746163009px;
  opacity: 0.5495569029850746;
  border-radius: 22.5px;
  border: solid 1px #9b9b9b;
  background-color: #ffffff;
  padding-left: 20px;
}