.logout {
    width: 100px;
    height: 35px;
    opacity: 5.4407649253731343;
    /* border: solid 1px #4586fa; */
    background-color:#7f8c8d;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color:white;
  border-radius:100px;
  
  }
  .add-content{
    font-weight: bold;
    color:white;
    background-color:#7f8c8d;
    border-radius:100px;
    /* margin-top: 8px; */
    width: 150px;
    height:35px;
    justify-content: center;
    margin-right: 5px;
    font-size: 13px;
  }
  .modal-dialog {
    position: relative;
    width: auto;
    max-width: 800px;
    margin: 10px;
  }
  .modal-sm {
    max-width: 300px;
  }
  .modal-lg {
    max-width: 900px;
  }
  @media (min-width: 768px) {
    .modal-dialog {
      margin: 30px auto;
    }
  }
  @media (min-width: 320px) {
    .modal-sm {
      margin-right: auto;
      margin-left: auto;
    }
  }
  @media (min-width: 620px) {
    .modal-dialog {
      margin-right: auto;
      margin-left: auto;
    }
    .modal-lg {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
  @media (min-width: 920px) {
    .modal-lg {
      margin-right: auto;
      margin-left: auto;
    }
  }
  .form-control{
    display: block;
    width: 80%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    margin-left: 45px;
}
.import{
    width: 48px;
    height: 21px;
    background-color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3125;
    letter-spacing: normal;
    color: #ffffff;
}
.bg{
  width: 83px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #0275d8;
  background-color: #0275d8;
}
.button{
  margin:auto;
  margin-top:10px;
  margin-bottom: 10px;
}
.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.3rem;
    outline: 0;
  }
  @media(min-width:768px){
      .file{
          margin-left: 18px;
      }
  }
  @media(max-width:768px){
    .file{
        margin-left: 33px;
    }
}
@media(max-width:600px){
    .file{
        margin-left: 45px;
    }
}
.navtop{
    width: 100%;
    height: 60px;
}
.dashboard{
    margin-top:3px;
   
}
.home {
        width: 127.6744186046512px;
        height: 42.34426229508197px;
        font-family: Roboto;
        font-size: 18px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: rgba(85, 85, 85, 1);
        text-decoration: none;
      }
.library{
    width: 127.6744186046512px;
    height: 42.34426229508197px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(85, 85, 85, 1);
    text-decoration: none;
  }
  .course-detail{
    width: 127.6744186046512px;
    height: 42.34426229508197px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(85, 85, 85, 1);
    text-decoration: none;
  }
 
  .library-hover:hover{
      background-color: #50e3c2;
  }
  .course-hover:hover{
      background-color: #7f8c8d;
  }
  .table{
      border:1px solid #979797;
      width: 210px;
  }
  .card{

    width: 251px;
    height: auto;
    box-shadow: 0.5px 0.5px 4px 0 rgba(0, 0, 0, 0.5);
    border: solid 1px #4a4a4a;
    background-color: #50e3c2;
    border: 1px solid #50e3c2;
    font-weight: bold;
    color:#8B572A;
    text-align: center;
  }
  .recent-course{
    width: 251px;
    height: 26px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: rgba(85, 85, 85, 1);
  }
  .list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.list-group{
  margin-right: 100px;
}
.sidebar{
  width: 300px;
}

.list{
  width: 60%;
  margin-left: -50px;
  margin-right: 10px;
}
.courseList{
  margin-left: 30px;
}
.courseReg{
  background-color: #F8E71C; 
  border: 1px solid #F8E71C; 
  margin-left: 150px;
}
.courseTitle{
 margin-top: 30px;
 margin-left: 30px;
 margin-right: 30px;
}

