<div
  class="d-flex navtop justify-content-between"
  width="100%"
  style="background-color: #f7f7f7"
>
  <div class="d-flex mt-2">
    <button class="btn logout ml-2">
      <i class="fa fa-ban"></i><span class="ml-2">Logout</span>
    </button>
  </div>

  <button
    class="btn add-content mr-2 mt-2"
    data-toggle="modal"
    data-target="#modal-lg"
  >
    <i class="fa fa-plus"></i> Add Content
  </button>
  <div
    class="modal fade"
    id="modal-lg"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Add New Course</h4>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body container">
          <div class="form-group  d-flex">
            <label for="defaultForm-pass" style="width: 100px"
              >Description*</label
            >
            <textarea
              class="form-control"
              id="defaultForm-pass"
              [(ngModel)]="description"
              [value]="description"
            ></textarea>
          </div>

          <div class="form-group  d-flex">
            <label for="defaultForm-pass" style="width: 100px"
              >File input*</label
            >
            <div class="file">
              <input
                class="form-control"
                id="defaultForm-pass"
                type="file"
                placeholder="Choose File"
                style="font-size: 12px"
                name="CarouselFile"
                id="CarouselFileUpload"
              />
              <p class="text-muted">
                This is some placeholder help text for the above input.It's a
                GGWP
              </p>
            </div>
          </div>
        </div>

        <button
          class="button justify-content-center bg import"
          type="submit"
          (click)="uploadCarouselImageClick()"
        >
          Import
        </button>
      </div>
    </div>
  </div>
</div>

<div class="d-flex m-1">
  <div class="">
    <ul class="nav nav-pills nav-stacked list-group sidebar md-list">
      <li
        class="list-group-item"
        style="background-color:#4586fa"
        routerLink="/dashboard"
      >
        <i class="fa fa-home" routerLink="/dashboard" style="font-size:23px"></i
        ><a routerLink="/dashboard" class="home ml-3" style="color:white"
          >Home</a
        >
      </li>
      <li class="list-group-item library-hover" routerLink="/courselist">
        <i class="fa fa-folder-open" style="font-size:23px"></i
        ><a href="#" routerLink="/courselist" class="library ml-3">Library</a>
      </li>
      <li class="list-group-item course-hover" routerLink="/coursedetail">
        <i class="fa fa-list" style="font-size:23px"></i
        ><a href="#" routerLink="/coursedetail" class="course-detail ml-3"
          >Course Detail Report</a
        >
      </li>
    </ul>
  </div>

  <div
    class="list"
    style="background-color: white;border-top:3px solid #4586fa"
  >
    <div class="d-flex courseList">
      <div class="card mt-3">
        <div class="card-header">Number of Courses</div>
        <div class="card-body" *ngFor="let nocourse of coursecount">
          {{ nocourse.count }}
        </div>
      </div>

      <div class="card mt-3 courseReg">
        <div class="card-header">Number of Registrations</div>
        <div
          class="card-body"
          *ngFor="let numOfRegistration of noregisteration"
        >
          {{ numOfRegistration.count }}
        </div>
      </div>
    </div>

    <div class="courseTitle mb-5">
      <i class="fa fa-folder-open" style="font-size: 20px"></i
      ><span class="recent-course ml-2" style="font-weight: bold">Library</span>
      <div class="mr-5 mt-3">
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let recent of course"
            style="font-weight: bold"
          >
            {{ recent.courseTitle }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
