<div class="d-flex navtop justify-content-between" width="100%" style="background-color:#f7f7f7">
  <div class="d-flex">
  <button class="btn mt-2 ml-2 logout"><i class="fa fa-ban"></i><span class="ml-2">Logout</span></button>
  </div>

  <button class="btn add-content mr-2 mt-2" data-toggle="modal" data-target="#modal-lg"><i class="fa fa-plus"></i> Add Content</button>
  <div class="modal fade" id="modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Add New Course</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body container">
        <div class="form-group  d-flex">
          <label for="defaultForm-pass" style="width: 100px">Description*</label>
        <textarea class="form-control" id="defaultForm-pass" [(ngModel)]="description" [value]="description"></textarea>
      </div>

      <div class="form-group  d-flex">
        <label for="defaultForm-pass" style="width: 100px">File input*</label>
        <div class="file">
      <input class="form-control" accept=".zip" id="defaultForm-pass" type="file" placeholder="Choose File" style="font-size: 12px" name="CarouselFile" id="CarouselFileUpload">
      <p class="text-muted">This is some placeholder block-level help text for the above input.It's a bit lighter and easily wraps to a new line.</p>
    </div>
    </div>
    </div>
      
      <div *ngIf="Loading" style="min-height: 30px;">
        <div class="loader"><img src="https://media.giphy.com/media/y1ZBcOGOOtlpC/200.gif"></div>
      </div> 
      <button [hidden]='Loading'  class="button justify-content-center bg import" type="submit" (click)="addNewCourse()">Import</button>
    </div>
  </div>
</div>
</div>
 
<div class="d-flex m-1">
  <div class="">
    <ul class="nav nav-pills nav-stacked list-group sidebar md-list">
      <li class="list-group-item home-hover" routerLink="/dashboard">
        <i class="fa fa-home" routerLink="/dashboard" style="font-size:23px"></i><a routerLink="/dashboard" class="home ml-3">Home</a>
      </li>
      <li class="list-group-item library-hover" style="background-color: #50e3c2;" routerLink="/courselist">
          <i class="fa fa-folder-open" style="font-size:23px"></i><a href="#" routerLink="/courselist" class="library ml-3">Library</a>
      </li>
      <li class="list-group-item course-hover" routerLink='/coursedetail'>
          <i class="fa fa-list" style="font-size:23px"></i><a href="#" routerLink='/coursedetail' class="course-detail ml-3">Course Detail Report</a>
      </li>
    </ul>
  </div>

    <div class="list" style="border-top:3px solid #50e3c2;">
      <div class="table-list">
   <div class="d-flex  justify-content-between p-1">

    <div class="d-flex">
      <i class="fa fa-folder-open-o" style="font-size:25px"></i>
      <h5 class="ml-2" style="font-size: 20px;color: #33608C">Library</h5>
   </div>

   <div class="d-flex">
      <input id="" width="206px" height="26px" class="search-form" style="font-size: 16px;" (input)="getList($event.target.value)" type="text" placeholder="Search..."  [(ngModel)]="searchCourse"/>
      <i id="filtersubmit" class="fa fa-search"></i>
      </div>
   
</div>
<div class="table-responsive">          
    <table class="table" style="color: #33608C">
      <thead style="background-color: #50e3c2;">
        <tr>
          <th class="title-width">Course Name</th>
          <th class="date">Date Added</th>
          <th class="reg">Registrations</th>
          <th class="version">Versions</th>
          <th class="action"></th>
        </tr>
      </thead>
      <tbody class="tbody">
        <tr *ngFor="let item of course">         
          <td class="title-width" (click)="Launch(item.courseId)"><a data-toggle="modal" data-target="#modal1" >{{item.courseTitle}}</a></td>
          <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
          aria-hidden="true">
          <div class="modal-dialogforAlert" role="document">
            <div class="modal-content">
              <div class="modal-body container">
                  <h5>Do you want to launch this course?</h5>        
              </div>
              <div class="form-group  d-flex">
              <button class="button bg import" onclick="location.reload();">Cancel</button>
              <a href="{{Launchcourse.courseUrl}}" class="btn btn-info button bg import" role="button" target="_blank">Yes</a>
              </div>
            </div>
          </div>        
        </div>
          <td class="date">{{item.createDate|date : "yyyy/MM/dd"}}</td>
          <td class="reg">{{item.registerationcount}}</td>
          <td class="version">{{item.version}}</td>
          <td class="action">
            <button class="btn" (click)="editCourse(item.description,item.version)"><i class="fa fa-pencil" data-toggle="modal" data-target="#modal2"></i></button>
            <div class="modal fade" id="modal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header text-center">
                  <h4 class="modal-title w-100 font-weight-bold">Edit Course</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
          
                <div class="modal-body container">
          
                  <div class="form-group d-flex ">
                    <label data-success="right" for="defaultForm-title" style="width:100px">Version*</label>
                    <input type="text" class="form-control"  id="defaultForm-title" width="500px" [(ngModel)]="version" [value]="version" placeholder="{{coursedata.version}}" disabled>
                  </div>
          
                  <div class="form-group  d-flex">
                      <label for="defaultForm-pass" style="width: 100px">Description*</label>
                    <textarea class="form-control" id="defaultForm-pass" [(ngModel)]="courseDescription" [value]="courseDescription" placeholder="{{coursedata.description}}"></textarea>
                  </div>
          
                  <div class="form-group  d-flex">
                    <label for="defaultForm-pass" style="width: 100px">File input*</label>
                    <div class="file">
                  <input class="form-control" id="defaultForm-pass" type="file" placeholder="Choose File" style="font-size: 12px" name="newImport" id="newImport">
                  <p class="text-muted">This is some placeholder block-level help text for the above input.It's a bit lighter and easily wraps to a new line.</p>
                </div>
                </div>
                </div>
                <button class="button justify-content-center bg import" type="submit" (click)="editNewImport(item.courseId)">Import</button>
              </div>
            </div>
          
          </div>
          <button class="btn" data-toggle="modal" data-target="#modal3" ><i class="fa fa-trash-o"></i></button>
        
          <div class="modal fade" id="modal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialogforAlert" role="document">
              <div class="modal-content">
                <div class="modal-body container">
                  <h5>Are you sure to delete this course?</h5>        
              </div>   
              <div class="form-group  d-flex">
                  <button class="button bg import" data-dismiss="modal" onclick="location.reload();">Close</button>
                  <button class="button bg import" (click)="deleteMethod(item.courseId)">Yes</button>
                </div>
                </div>
               </div>
            </div>          
          
          </td>
        </tr>
      </tbody>
    </table>  
    </div> 
   
     <div class="d-flex justify-content-center btn-hover">
     <button (click)="loadMoreNext()" style="border: none">LoadMore</button>
    </div>
  </div>
    <!-- <button  (click)="loadMore()">Load More</button> -->
    <!-- <div class="row"
    style="margin:0px 0px;height:1000px; overflow-Y:auto;"
    infiniteScroll (onScroll)="LoadMore"> -->
    </div>
</div>
   