.add-content{
  font-weight: bold;
  color:white;
  background-color: #a1aeb4;
  border-radius:25px;
  margin-top: 8px;
  width: 150px;
  height:35px;
  justify-content: center;
  font-size: 13px;
  /* margin-left: 92%; */
}

.fa fa-folder-open-o{
  width:27px;
  height: 32.5px;;
}
    .search-form {
      width: 250px;
      height: 38.27006746163009px;
      opacity: 0.5495569029850746;
      border-radius: 22.5px;
      border: solid 1px #9b9b9b;
      background-color: #ffffff;
     
    }

      #filtersubmit {
          position: relative;
          z-index: 1;
          left: -25px;
          top: 10px;
          color: #7B7B7B;
          cursor:pointer;
          width: 20px;
          height: 20px;
          /* border: solid 2px #979797; */
           background-color: #ffffff;
          
      }

      textarea {
        /* padding: 10px; */
        /* line-height: 1.5; */
        border-radius: 5px;
        border: 1px solid #ccc;
        /* box-shadow: 1px 1px 1px #999; */
    }
  
  .modal-dialog {
    position: relative;
    width: auto;
    max-width: 800px;
    margin: 10px;
  }
  .modal-dialogforAlert {
    position: center;
    width: auto;
    max-width: 350px;
    margin: 10px;
  }
  .modal-sm {
    max-width: 300px;
  }
  .modal-lg {
    max-width: 900px;
  }
  @media (min-width: 768px) {
    .modal-dialog {
      margin: 30px auto;
    }
    .modal-dialogforAlert {
      margin: 30px auto;
    }
  }
  @media (min-width: 320px) {
    .modal-sm {
      margin-right: auto;
      margin-left: auto;
    }
  }
  @media (min-width: 620px) {
    .modal-dialog {
      margin-right: auto;
      margin-left: auto;
    }
    .modal-dialogforAlert {
      margin-right: auto;
      margin-left: auto;
    }
    .modal-lg {
      margin-right: 10px;
      margin-left: 10px;
    }
  }
  @media (min-width: 920px) {
    .modal-lg {
      margin-right: auto;
      margin-left: auto;
    }
  }

.form-control{
    display: block;
    width: 80%;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    margin-left: 45px;
}
.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
}

.home-hover:hover{
  background-color:#4586fa;
}
.import{
    width: 48px;
    height: 21px;
    background-color: #ffffff;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.3125;
    letter-spacing: normal;
    color: #ffffff;
}
.bg{
  width: 83px;
  height: 40px;
  border-radius: 4px;
  border: solid 1px #50e3c2;
  background-color: #50e3c2;
}
.button{
  margin:auto;
  margin-top:10px;
  margin-bottom: 10px;
}
.logout {
  width: 100px;
  height: 35px;
  /* opacity: 0.4407649253731343; */
  /* border: solid 1px #50e3c2; */
font-family: Roboto;
font-size: 13px;
font-weight: 500;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
text-align: center;
color: white;
border-radius: 25px;
background-color: #a1aeb4;
}


@media(min-width:768px){
    .file{
        margin-left: 18px;
    }
}
@media(max-width:768px){
  .file{
      margin-left: 33px;
  }
}
@media(max-width:600px){
  .file{
      margin-left: 45px;
  }
}
.navtop{
  width: 100%;
  height: 60px;
}
.dashboard{
  margin-top:3px;
 
}
.home {
      width: 127.6744186046512px;
      height: 42.34426229508197px;
      font-family: Roboto;
      font-size: 18px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: rgba(85, 85, 85, 1);
      text-decoration: none;
    }
.library{
  width: 127.6744186046512px;
  height: auto;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(85, 85, 85, 1);
  text-decoration: none;
}
.course-detail{
  width: 127.6744186046512px;
  height: 42.34426229508197px;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: rgba(85, 85, 85, 1);
  text-decoration: none;
}

.library-hover:hover{
    background-color: #50e3c2;
}
.course-hover:hover{
    background-color: #7f8c8d;;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.sidebar{
width: 300px;
}
.library-col{
  background-color: white;
  border-top:3px solid #50e3c2;
}
.btn-hover:hover{
  color:none;
  border: none;
}
sidebar{
  width: 300px;
}

.list{
  width: 70%;
  margin-left: 50px;
  margin-right: 10px;
  background-color: white;
}

.table-list{
  margin: 10px;
}
.title-width{
  max-width: 300px;
  width: 300px;
}
.date{
  width: 150px;
}
.reg{
  width: 150px;
}
.version{
  width: 100px;
}
.action{
  width: 100px;
}
tbody {
    display:block;
    max-height:500px;
    overflow-y:scroll;
}
thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead {
    width:100%; 
}