
.table-responsive{
    border:1px solid #979797;
    /* width:100%; */
    justify-content:space-around;
  
}
.timespent{
    border:1px solid #979797;
}
heading{
color: #fff;
background-color:black;
}
th{
    width:19.6%;
}
.logout {
    width: 100px;
    height: 35px;
    /* opacity: 0.4407649253731343; */
    /* border: solid 1px #50e3c2; */
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: white;
  border-radius: 25px;
  background-color: #a1aeb4;
  margin-top: 6.5px;
  }
  .back{
    width: 75px;
    height: 30px;
    border-radius:100px;
    background-color:  #7f8c8d;
    margin-top: 6.5px;
    font-size: 13px;
  }
  .navtop{
    width: 100%;
    height: 50px;
  }
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: #7a8088;
}
@media(min-width:768px){
    .table-responsive{
        width:100%;
    }
}
@media(max-width:768px){
    .table-responsive{
        width:100%;
    }
}
@media(max-width:600px){
    .table-responsive{
        width:80%;
    }
}