

<div class="p-1">
<tabset [justified]="true" class="nav-pills mt-2" >
            <tab heading="Learner Info" class="mt-2" > 
                <table class="table table-responsive" width="100%">
                <tr style="background-color:lightblue">
                    <th>Learner Name</th>
                    <th>Success</th>
                    <th>Progress</th>
                    <th>First Access Date</th>
                    <th>Last Access Date</th>
                    <th>Complete Date</th>
                </tr>
                <tr>
                    <td>{{LearnerDetail.learnerName}}</td>
                    <td>{{LearnerDetail.completion}}</td>
                    <td>{{LearnerDetail.progress}}</td>
                    <td>{{LearnerDetail.first_access_date|date : "yyyy/MM/dd"}}</td>
                    <td>{{LearnerDetail.last_access_date|date : "yyyy/MM/dd"}}</td>
                    <td>{{LearnerDetail.complete_date}}</td>
                </tr>
            </table> 
             </tab>
            <tab heading="Time Spent" class="mt-2"> <table class="table timespent">
                <thead class="thread-default">
                    <tr style="background-color:lightblue">
                      <th>Page No.</th>
                      <th>Spending Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let learner of LearnerDetail.pages">
                      <td>{{learner.pageTitle}}</td>
                      <td>{{learner.totaltime}}</td>
                    </tr>                  
                </tbody>
                  </table>
                </tab>
            
          </tabset>
        </div>